@import 'variables';
@import 'mixins';


section {
    background: $nice-grey;
    height: auto;
}
tr{
    margin: 2em auto;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
}
.plate-details {
    margin:20px;
    font-size:16px;
    @media screen  and (max-width:1000px){
        margin:5px;
        padding:5px;
    }
    * {
        text-align: center;
        line-height: 112px;
        width:auto;
    }
    .it-image {
        grid-column: 1/ span 1;
        img{
            height: 80px;
            width: 80px;
        }
    }
    .it-qty {
        align-self: center;
        justify-self: center;
        grid-column: 3/ span 3;
        width:100%;
        line-height: 112px !important;
        * {
           line-height: normal !important; 
        }
        
        @media screen and (max-width:600px) {
            width:44px !important;
        }
    }
    .it-name {
        width:auto;
        min-width: 20px;
        font-size: 1.7em;
        font-weight: 700;
        text-transform: capitalize;
    }
    .it-price {
        min-width: 20px;
        font-weight: 700;
        text-transform: capitalize;
        font-size: 1.4em;
        &:last-of-type {
            grid-column: 7/ span 2;
        }
    }
}

.btn{
    border: none;
    padding:20px;
    background:$captions;
    @include br-md;
    font-weight: bold;
    &:before{
        @include br-md;
    }
}

@media screen and (max-width:600px) {
    section {
        padding: 0!important;
    }
    table {
        margin:0 important;
        padding: 0 important;
    }
    tr {
        width:100%;
        margin: .5em auto;
        padding:0;
    }
    .it-qty,.it-name,.it-price {
        font-size: 3.5vw !important;
    }
    .it-image {
        img{
            padding:10px;
            height: 50px;
            width: 50px;
        }
    }
}