<footer class="text-center col-12 p-0 m-0">
  <a href="index.html"><h2 class="caption">Spark<span class="text-theme">Land</span></h2></a>
  <ul class="clearfix">
    <a href="#"><li class=" p-3 social-link mx-3 hvr-sweep-to-top shadow"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></li></a>
    <a href="#"><li class="p-3 social-link mx-3 hvr-sweep-to-top shadow"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></li></a>
  </ul>
  <ul>
    <a routerLink="/about">
      <li>About</li>
    </a>
    <a routerLink="/menu">
      <li>Menu</li>
    </a>
    <a routerLink="">
      <li>Privacy Policy</li>
    </a>
    <a routerLink="">
      <li>Terms & Conditions</li>
    </a>
    <a routerLink="/contact">
      <li>Contact</li>
    </a>
  </ul>
  <span class="text-muted font-weight-bold copyright">Copyright &copy; 2017 - {{date}} | Designed by SILVERSLOPES</span>
</footer>
