<div class="container-for-all-pages">
  <section id="gallery-container" class="mx-auto">
    <div id="gallery">
      <div class="gallery-item">
        <img src="assets/img/gallery-img/1.jpg" alt="gallery-item-img">
      </div>
      <div class="gallery-item two-col">
        <img src="assets/img/gallery-img/2.jpg" alt="gallery-item-img">
      </div>
      <div class="gallery-item">
        <img src="assets/img/gallery-img/3.jpg" alt="gallery-item-img">
      </div>
      <div class="gallery-item two-col">
        <img src="assets/img/gallery-img/4.jpg" alt="gallery-item-img">
      </div>
      <div class="gallery-item two-col">
        <img src="assets/img/gallery-img/5.jpg" alt="gallery-item-img">
      </div>
      <div class="gallery-item four-col">
        <img src="assets/img/gallery-img/6.jpg" alt="gallery-item-img">
      </div>
      <div class="gallery-item big">
        <img src="assets/img/gallery-img/7.jpg" alt="gallery-item-img">
      </div>
      <div class="gallery-item four-col ">
        <img src="assets/img/gallery-img/8.jpg" alt="gallery-item-img">
      </div>
      <div class="gallery-item  two-col">
        <img src="assets/img/gallery-img/9.jpg" alt="gallery-item-img">
      </div>
    </div>
  </section>
</div>