@import '../../../variables';
@import '../../../mixins';

.btns {
    left:0;
    margin:0;
    bottom: 0;
    width:100%;
    text-align: center;
}
.qty-btn{
    background: transparent!important;
    color:$black !important;
    font-weight: 700px;
}
.item-btn{
    border-radius: 50%;
    height:60px;
    width:60px;
    @media screen and (max-width:600px){
        height:40px;
        padding:0;
        width:40px;
    }
    background: $light-theme-color;
    &:hover{
        background:$theme-color;
    }
}