<!-- Contact and Location Section -->
<section class="contact  col-12 text-center row">
    <div class="contact-type col-lg mx-lg-4 col-12 text-left px-5 shadow">
      <h2 class="title text-theme">Contact Us</h2>
      <div class="text-group">
          <fa-icon [icon] = "['fa', 'phone']" class="mx-lg-4 mx-2"></fa-icon><a href="tel:+237 653175340" class="text-theme">Tel: (237) 653175340</a><br>
      </div>
      <div class="text-group">
          <fa-icon [icon] = "['fa', 'envelope']" class="mx-lg-4 mx-2"></fa-icon><a href="email:jfamousket@gmail.com" class="text-theme">Email: sparkland@gmail.com</a><br>
      </div>
      <div class="text-group">
          <fa-icon [icon] = "['fab', 'whatsapp']" class="mx-lg-4 mx-2"></fa-icon><a href="tel:+237 653175340" class="text-theme">Whatsapp: (237) 653775340</a><br>
      </div>
    </div>
    <div class="contact-type mx-lg-4 col-lg col-12 px-5 shadow text-left">
      <h2 class="title">Current Location</h2>
        <div class="text-group">
            <fa-icon [icon] = "['fa', 'street-view']" class="mx-lg-4 mx-2"></fa-icon> <span>Molyko</span>
        </div>
          <div class="text-group">
            <fa-icon [icon] = "['fa', 'location-arrow']" class="mx-lg-4 mx-2"></fa-icon><span>Buea, Cameroon</span>
          </div>
        <div class="text-group">
            <fa-icon [icon] = "['fa', 'car']" class="mx-lg-4 mx-2"></fa-icon><span>Opposite ETA Palace Hotel</span>
        </div>
    </div>	
</section>
