@import '../../../variables';
@import '../../../mixins';
.contact{
	height: auto;
	margin: auto;
	margin-bottom: 250px;
	@media screen  and (max-width: 900px){
		margin-bottom: 345px;
	}
	padding-top:50px;
	background: #fafafa;
	.contact-type{
		height: auto;
		display: inline-block;
		@include br-sm;
		background:$white;
		padding: 10px 20px;
		color:$theme-color;
		font-size: 1.6em;
		&:nth-child(even){
			background:$theme-color;
			color:$white;
		}
	}
}