<!-- Contact and Location Section -->
<section class="contact  col-12 text-center row">
    <div class="contact-type col-lg mx-lg-4 col-12 text-left px-5 shadow-sm">
      <h2 class="caption my-0 p-0">Contact Us</h2>
      <i class="mi mi-Phone p-2 btn-group-vertical"></i><a href="tel:+237 653175340" class="text-theme">Tel: (237) 653175340</a><br>
      <i class="mi mi-Mail p-2 btn-group-vertical"></i><a href="email:jfamousket@gmail.com" class="text-theme">Email: sparkland@gmail.com</a><br>
      <i class="mi mi-whatsapp p-2 btn-group-vertical"></i><a href="tel:+237 653175340" class="text-theme">Whatsapp: (237) 653775340</a><br>
    </div>
    <div class="contact-type mx-lg-4 col-lg col-12 px-5 shadow-sm text-left">
      <h2 class="caption my-0 p-0">Current Location</h2>
      <span>Molyko,<br>Buea, Cameroon<br>Opposite ETA Palace Hotel</span>
    </div>	
</section>
