@import '../../../variables';
@import '../../../mixins';

section {
    height: auto;
    background:transparent;
}
form{
    padding:10px;
    background: $white;
    border-radius: 0 0 10px 10px;
    input, label {
        display: block;
        width:100%;
        margin:10px 0;
        font-size:1.1em;
    }
    input{
        padding:5px;
        @include br-sm;
    }
    .btn {
        background: $alt-theme-color;
        border:0;
        @include br-md;
        padding:10px;
        color:$white !important;
        font-weight: 800;
        width: 100%;
        &::before {
            background: $light-theme-color !important;
            @include br-md;
        }
        &:hover {
            color: $white !important;
        }
    }
}
.success {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: $white;
    z-index: 999;
    animation: slideIn .5s forwards 0s ease-in;
    .success-center {
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h2 {
            margin:5px;
            padding: 0;
            font-size: 1.5em;
        }
    }
    .success-icon {
        color: $theme-color;
        font-size: 7em;
    }
    .btn {
        padding:10px 25px;
        @include br-md;
        font-weight: 800;
        font-size:1.8em;
        &::before {
            @include br-md;
        }
    }
}

@keyframes slideIn{
    0%{
        transform: rotate(0) translateY(700px);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}
