@import 'variables';
@import 'mixins';

.main-header{
	background-image: url('../../../assets/img/contact-img/main-header.jpg');
}
section{
	height: auto;
	background:$nice-grey;
}
.contact-form{
	border:0;
	border-radius: 20px 20px 20px 0;
	background:$white;
	margin:0px 20px;
	margin-top:40px;
	label{
		display:block;
		color:$captions;
		font-family:raleway;
		font-size: 2em;
	}
	input, textarea, select{
		width:100%;
		font-family: raleway;
		border-radius: 10px 10px 10px 0;
		margin:10px 0px;
		color:$white !important;
		border:0;
		padding:15px;
		background:lighten($color: $captions, $amount: 10);
		font-size: 1.5em;
		&::placeholder{
			color:$white;
		}
	}
	button{
		padding:10px;
		width:100%;
		font-size: 2em;	
		border-radius: 10px 10px 10px 0;
		&:before{
			border-radius: 10px 10px 10px 0;
		}
	}
}

.errors {
	small {
		font-size: 1vw;
		@media screen and (max-width:1300px) {
			font-size: 2vw;
		}
		@media screen and (max-width:900px) {
			font-size: 3vw;
		}
	}
}
.success{
	background: $white;
	bottom: 0;
	left:0;
	z-index: 1000;
	position:fixed;
	height: 150px;
	width:100%;
	text-align: center;
	animation: slideInUp .5s forwards 0s ease-in-out;
	box-shadow: 0 -1px 10px 0px rgba(0,0,0,.19);
	@media screen and (max-width:600px) {
		height: 80px;
	}
	h1{
		@media screen and (max-width:600px) {
			font-size: 3.5vw !important;
			line-height: 80px;
		}
		line-height: 150px;
		@include text-theme;
		font-size:3vw;	
	}
	
}
/*animations*/

@keyframes fadeInDown{
    0%{
        transform: rotate(0) translateY(-20px);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}

.animFadeInDown{
    animation: fadeInDown 1s forwards 0s ease-in;
}

@keyframes slideInUp{
    0%{
        transform: rotate(0) translateY(100px);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}
