<div class="container-for-all-pages">
  <div class="row specials">
    <div class="specials-wrapper col-12 col-lg-6">
      <div class="col-9 mx-auto two-specials-row">
        <div class="two-specials-wrapper row">
          <div class="one-special shadow">
            <div class="special-img">
              <img src="../../../assets/img/top-dish1.jpg">
            </div>
            <div class="special-body">
              <h2 class="special-title">Achu Soup</h2>
              <p class="special-text">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
          <div class="one-special shadow">
            <div class="special-img">
              <img src="../../../assets/img/top-dish2.jpg">
            </div>
            <div class="special-body">
              <h2 class="special-title">Eru</h2>
              <p class="special-text">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
        </div>
      </div> 
      <div class="one">
        <div class="one-special shadow">
          <div class="special-img">
            <img src="../../../assets/img/top-dish3.jpg">
          </div>
          <div class="special-body">
            <h2 class="special-title">Chicken</h2>
            <p class="special-text">Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div>
      </div>
      <div class="col-9 mx-auto two-specials-row">
        <div class="two-specials-wrapper row">
          <div class="one-special shadow">
            <div class="special-img">
              <img src="../../../assets/img/top-dish4.jpg">
            </div>
            <div class="special-body">
              <h2 class="special-title">Rice & Beans</h2>
              <p class="special-text">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
          <div class="one-special shadow">
            <div class="special-img">
              <img src="../../../assets/img/top-dish1.jpg">          </div>
            <div class="special-body">
              <h2 class="special-title">Roasted Fish</h2>
              <p class="special-text">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="col-12 col-lg-6 specials-hero">
        <div class="specials-caption">
            <h1><fa-icon [icon] ="['fa', 'quote-left']" class="text-theme"></fa-icon></h1>
            <h1 class="text-theme">Specials On Our Menu</h1>
          </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et numquam in ratione.</p>
      <a [routerLink] ="['/menu']" class="btn hvr-sweep-to-right shadow col-12 col-md-5">View Full Menu</a>
    </div>
  </div>
  
  <!-- Services Section -->

  <section class="services row shadow-none col-12 mx-auto col-lg-10 p-0">
    <div class="col-12 col-lg-6 service-caption">
      <h1><fa-icon [icon] ="['fa', 'quote-left']"></fa-icon></h1>
      <h1 class="text-theme">You Have To Like Us</h1>
    </div>
    <div class="col-12 col-lg-6 single-services">
        <div class="service col-12">
          <h1>Service</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla</p>
          </div>
        <div class="service col-12">
            <h1>Service</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla</p>
          </div>
        <div class="service col-12">
          <h1>Service</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla</p>
          </div>
        <div class="service col-12">
          <h1>Service</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo est, feugiat nec elementum id, suscipit id nulla</p>
          </div>    
    </div>
    <div class="col-12 text-center">
        <a [routerLink] ="['/menu']" class="hvr-sweep-to-right my-4 btn shadow">View Full Menu</a>	
    </div>
  </section>

  <!-- Team Section -->

  <!-- <section class="team">
    <img src="assets/img/team-bg.jpg" class="bg" alt="team-bg">
    <div class="team-caption">
      <h1 class="text-theme text-center">We Wouldn't Be Here Without Our Team</h1>
    </div>
      <div class="owl owl-theme">
        <div class="team-member col-5 mx-auto text-center">
          <img src="assets/img/team-1.jpg" alt="team-member" class="round-pic mx-auto">
          <h2 class="text-white my-4 pt-1">Joshua Manning</h2>
          <small class="text-theme small-md">C.E.O. / FOUNDER</small>
        </div>
        
        <div class="team-member col-5 mx-auto text-center">
          <img src="assets/img/team-2.jpg" alt="team-member" class="round-pic mx-auto">
          <h2 class="text-white my-4 pt-1">Joshua Manning</h2>
          <small class="text-theme small-md">Chief Cook</small>
        </div>
        
        <div class="team-member col-5 mx-auto text-center">
          <img src="assets/img/team-3.jpg" alt="team-member" class="round-pic mx-auto">
          <h2 class="text-white my-4 pt-1">Joshua Manning</h2>
          <small class="text-theme small-md">Assistant Cook</small>
        </div>
        
        <div class="team-member col-5 mx-auto text-center">
          <img src="assets/img/team-4.jpg" alt="team-member" class="round-pic mx-auto">
          <h2 class="text-white my-4 pt-1">Joshua Manning</h2>
          <small class="text-theme small-md">Sales Personnel</small>
        </div>
      </div>
  </section> -->
<gallery></gallery>

</div>
