@import 'variables';
@import 'mixins';

.input-group{
    padding:10px;
    position: relative;
}
.search-input{
    padding:20px;
    border: none;
    width: 100%;
    border-radius: 50px;
}
.search-btn{
    position: absolute;
    padding:0;
    top:18px;
    right:20px;
    height:50px;
    width:50px;
    border-radius: 50%;
    font-size: 1.2em;
    background:$light-theme-color;
    &:hover{
        background: $theme-color;
    }
}
@media screen and (max-width: 900px) {
    .small-lg {
        font-size: 5vw;
    }
}
