@import '../../../mixins';
@import '../../../variables';

.main-header{
	height: auto;
	position: relative;
	background:#000;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 0% 50%;
	[class*='bcg']{
		background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        opacity:0.4;
        position: absolute;
        height: 150%;
        width:100%;
	}
}

.navbar{
	margin:0;
	padding:0;
}

.main-navigation{

	.current{
		&::after{
			content:'';
			width:100%;
			background:$theme-color;
			height:4px;
			left:0;
            display: inline-block;
            z-index:-1;
			position: absolute;
            bottom:0;
            transition:height 0.2s ease-in-out;
        }
        &:hover{
            &::after{
                height:100%;
            }
        }
	}
}

.nav_links{
	height: auto;
	list-style-type: none;
	position:relative;
}

.link {
	display:inline-block;
	width:100%;
	top:0;
	padding:20px;
	height: 100%;
	color:$white;
	font-weight: 900;
}


.hero{
	height:538px - 64px;
}

.brandname{
	position: relative;
	width:100%;
	padding:50px;
	h1{
		color:$white;
		display:block;
		font-family: Open_SansRegular;
		font-size:7em;
		letter-spacing: 20px;
		font-weight:900;
	}
	.text-sub {
		font-family: Open_SansRegular;
		font-size:3em;
		padding:0;
		letter-spacing: 20px;
		font-weight:900;
		margin:0;
	}
	h2{
		font-size: 2.5em;
		font-weight: 900;
		letter-spacing: 20px;
		text-justify: inter-cluster;
		bottom:0;
	}
}

.scroll-header{
	position: fixed;
	z-index: 999;
	width:100%;
	transition:all 0.4s ease-in-out;
	top:-100px;
	background:transparentize($theme-color, 0);
	padding:0px;
	.current{
		&::after{
			content:'';
			width:100%;
			background:$white !important;
			height:4px;
			left:0;
            display: inline-block;
            z-index:-1;
			position: absolute;
            bottom:0;
            transition:height 0.2s ease-in-out;
        }
        &:hover{
			.link{
				color:$theme-color !important;
			}
            &::after{
                height:100%;
            }
        }
		&::before{
			background:$white!important;
		}
	}
	.scroll-brand{
		color:$white;
		margin-left: 40px;
		font-weight: 900;
		font-size:2em;
		span{
			font-weight: 900;
		}
	}
	li{
		text-transform: uppercase;
		display: inline-block;
		font-weight: bolder;
		list-style-type: none;
		color:$white;
		&:before{
			background:$white!important;
		}
	}
	.link {
		padding:15px;
	}
}

.fixed-plate{
	position:fixed;
	height: 50px;
	width:50px;
	z-index: 999;
	right:50px;
	bottom:50px;
	.plate {
		position:absolute;
		cursor:pointer;
		background:$light-theme-color;
		height:80px;
		width:80px;
		border-radius:50%;
		text-align: center;
		display:table;
		.content {
			display:table-cell;
			vertical-align: middle;
		}
		h2{
			margin:0;
			padding:0;
			font-weight:900;
			font-size:1.1em;
		}
		span {
			margin:0;
			padding:0;
			font-size:1.2em;
			vertical-align:middle;
		}
		&:hover {
			background:$theme-color;
		}
	}
}

@media screen and (max-width:1000px) {
	.main-header {
		height: auto;
	}
	.navbar {
		height:100vh;
		width:200px;
		z-index: 999;
		left:-500px;
		position: fixed;
		transition:0.5s ease-in-out;
		background:transparentize($light-theme-color, 0.2);
		.main-navigation{
			padding-top:50px;
			position: absolute;
			top:0;
			ul {
				width:100%;
			}
			li {
				display: block;
			}
			.current{
				&::after{
					content:'';
					width:100%;
					background:$theme-color;
					height:100%;
					left:0;
					display: inline-block;
					z-index:-1;
					position: absolute;
					bottom:0;
					transition:height 0.2s ease-in-out;
				}
				&:hover{
					&::after{
						height:100%;
					}
				}
			}
		}
	}
	.navbar-open {
		display:block;
		left:0;
	}
	.small-menu-icon {
		padding:30px 0;
		top:0;
		position: fixed;
		z-index: 9;	
		text-align: center;
		transition: all 0.4s ease-in-out;
		.bar{
			height:4px;
			width:30px;
			cursor: pointer;
			background:$white;
			box-shadow: 0 2px 5px rgba(0,0,0,0.2);
			transition: all 0.4s ease-in-out;
			position:absolute;
			left:20px;
			&::before{
				content:'';
				display:block;
				position:absolute;
				top:-10px;
				height:4px;
				width:30px;
				background:$white;
				box-shadow: 0 2px 5px rgba(0,0,0,0.2);
				transition: all 0.4s ease-in-out;
			}
			&::after{
				content:'';
				display:block;
				position:absolute;
				top:10px;
				height:4px;
				width:30px;
				background:$white;
				box-shadow: 0 2px 5px rgba(0,0,0,0.2);
				transition: all 0.4s ease-in-out;
			}
		}
	}
	.scroll-header {
		display:none;
	}
	.hero {
		margin-top: 50px;
		height: auto;
		.brandname {
			padding: 50px 10px;
			*{
				width:100%;
			}
			h1 {
				font-size: 3.5em;
			}
			h2 {
				font-size: 2em;
			}
			.text-white {
				font-size:1.5em;
			}
		}
	}
}


/***********Animations**********/

.animate-icon{
	.bar{
		padding-left:180px;
		background:transparent !important;
		box-shadow: 0 0 0 transparent !important;
		&::before{
			top:0px !important;
			transform: rotate(45deg);
		}
		&::after{
			top:0px !important;
			transform: rotate(135deg);
		}
	}
}