<div class="gallery-container">
  <h1 class="caption mb-2 mt-0 text-center">OUR YUMMY GALLERY ONLY THE BEST</h1>
  <div class="gallery-grid clearfix">
      <div class="gallery-item col-12 col-lg-4">
        <div class="bcg"></div>
        <div class="overlay"></div>
        <div class="content-up"><h3>fufu and eru</h3></div>
        <div class="content-down">
          <h5>Compliments</h5>
          <p>Canda, Beef, Chicken, etc...</p>
        </div>
      </div>
      <div class=" gallery-item col-12 col-lg-4">
        <div class="bcg"></div>
        <div class="overlay"></div>
        <div class="content-up"><h3>fufu and eru</h3></div>
        <div class="content-down">
          <h5>Compliments</h5>
          <p>Canda, Beef, Chicken, etc...</p>
        </div>
      </div>
      <div class=" gallery-item col-12 col-lg-4">
        <div class="bcg"></div>
        <div class="overlay"></div>
        <div class="content-up"><h3>fufu and eru</h3></div>
        <div class="content-down">
          <h5>Compliments</h5>
          <p>Canda, Beef, Chicken, etc...</p>
        </div>
      </div>
      <div class="gallery-item col-12 col-lg-4">
        <div class="bcg"></div>
        <div class="overlay"></div>
        <div class="content-up"><h3>fufu and eru</h3></div>
        <div class="content-down">
          <h5>Compliments</h5>
          <p>Canda, Beef, Chicken, etc...</p>
        </div>
      </div>
      <div class=" gallery-item col-12 col-lg-4">
        <div class="bcg"></div>
        <div class="overlay"></div>
        <div class="content-up"><h3>fufu and eru</h3></div>
        <div class="content-down">
          <h5>Compliments</h5>
          <p>Canda, Beef, Chicken, etc...</p>
        </div>
      </div>
      <div class=" gallery-item col-12 col-lg-4">
        <div class="bcg"></div>
        <div class="overlay"></div>
        <div class="content-up"><h3>fufu and eru</h3></div>
        <div class="content-down">
          <h5>Compliments</h5>
          <p>Canda, Beef, Chicken, etc...</p>
        </div>
      </div>
      <div class=" gallery-item col-12 col-lg-4">
        <div class="bcg"></div>
        <div class="overlay"></div>
        <div class="content-up"><h3>fufu and eru</h3></div>
        <div class="content-down">
          <h5>Compliments</h5>
          <p>Canda, Beef, Chicken, etc...</p>
        </div>
      </div>
      <div class=" gallery-item col-12 col-lg-4">
        <div class="bcg"></div>
        <div class="overlay"></div>
        <div class="content-up"><h3>fufu and eru</h3></div>
        <div class="content-down">
          <h5>Compliments</h5>
          <p>Canda, Beef, Chicken, etc...</p>
        </div>
      </div>
      <div class=" gallery-item col-12 col-lg-4">
        <div class="bcg"></div>
        <div class="overlay"></div>
        <div class="content-up"><h3>fufu and eru</h3></div>
        <div class="content-down">
          <h5>Compliments</h5>
          <p>Canda, Beef, Chicken, etc...</p>
        </div>
      </div>
    </div>
</div>
