$theme-color: linear-gradient(8deg, rgba(248,34,69,1) 28%, rgba(243,146,55,1) 100%);
$alt-theme-color:rgb(248, 34, 69);
$orange: #F39237;
$light-theme-color: linear-gradient(8deg, rgba(255,120,143,1) 28%, rgba(255,182,113,1) 100%);
$alt-light-theme-color:#FF788F;
$white:#fff;
$nice-grey: #fafafa;
$captions:#b1b1b1;
$black:#000;
$hcaptions:#726a84;
$merri: Merriweather_SansRegular;

