@import '../../../../variables';
@import '../../../../mixins';

.card {
    border-radius: 10px 10px 0 0;
    border:0;
}
.list-group-item {
    border: 0;
    background: transparent;
}
.btn {
    background: $white;
    @include br-md;
    padding:10px;
    color:$theme-color !important;
    font-weight: 800;
    width: 100%;
    &::before {
        background: $light-theme-color !important;
        @include br-md;
    }
    &:hover {
        color: $white !important;
    }
}